<div class="card">
    <h2 [ngStyle]="{
      color: card.title.length > 10? 'red':'green'  
    }">{{card_index}}) {{card.title}}</h2>
    <p class="text">{{getInfo()}}</p>

    <div>
        <img [src]="imgUrl">
        <br>
        <button class="button" (click)="DisableImage()">Hide image</button>
    </div>
    

    <div>
        <input type="text" [(ngModel)]="card.text">
    </div>
    <div>
        <strong>{{cardDate | date}}</strong>
    </div>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet nobis recusandae exercitationem natus necessitatibus unde, laborum est earum velit sapiente vel, culpa distinctio ullam veritatis possimus? Molestiae esse suscipit deserunt?</p>
    </div>