.card{
    padding: .5rem 1rem;
    border: 4px dashed rgb(130, 70, 70);
    margin-bottom: 1rem;
    margin-right: 50%;

   h2{
    margin-bottom: .5rem;
   }
}

.button{
    margin-bottom: .5rem;
}

