@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,900&display=swap');
.header{
    font-family: 'Source sans pro', sans-serif;
    font-weight: 900;
    font-style: italic;
    text-align: center;
    font-size: 40pt;
    background-color: rgb(89, 77, 126);
    color:rgb(255, 111, 15)
}