.sub{
    padding: .5rem 1rem;
    border: 4px dashed rgb(255, 111, 15);
    margin-bottom: 1rem;
    margin-right: 50%;

   h2{
    margin-bottom: .5rem;
   }
}

.text{
    font-size: 12pt;

    &.red{
        color:red
    }
    &.green{
        color:green
    }
}