.card {
  margin-bottom: 10px;
  img {
    margin: 10px;
    height: 100px;
    width: 100px;
    border-radius: 10px;
  }
}

button{
  margin-right: 15px;
}

.btn.btn-primary.pay{
  background-color: green;
}

.btn.btn-primary.change{
  background-color: blue;
}

.btn.btn-primary.delete{
  background-color: red;
}