.card {
  margin-bottom: 10px;
  img {
    margin: 10px;
    height: 100px;
    width: 100px;
    border-radius: 10px;
  }
}

.card.green{
  background-color: rgb(119, 219, 119);
}
.card.red{
  background-color: rgb(249, 132, 132);
}

button{
  margin-right: 15px;
}

.btn.btn-primary.pay{
  background-color: green;
}

.btn.btn-primary.delete{
  background-color: red;
}