<section class="pb-4">
  <div class="bg-white border rounded-5">
<section class="w-100 p-4 d-flex justify-content-center pb-4">
  <form style="width: 22rem;">
  <!-- Service input -->
  <div class="form-outline mb-4">
      <input type="text" id="form1Example1" class="form-control" [(ngModel)]="serviceName" name="service">
      <label class="form-label" for="form1Example1" style="margin-left: 0;">Название сервиса</label>
      <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 64px;"></div><div class="form-notch-trailing"></div></div></div>

    <!-- Email input -->
    <div class="form-outline mb-4">
      <input type="number" id="form2Example1" class="form-control" [(ngModel)]="price" name="price" >
      <label class="form-label" for="form2Example1" style="margin-left: 0;">Цена подписки</label>
      <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 88.8px;"></div><div class="form-notch-trailing"></div></div></div>

      <mat-form-field appearance="fill">
        <mat-label>Дата продления</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="paymentDate" name="date">
        <mat-hint>YYYY-MM-DD</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

    <!-- 2 column grid layout for inline styling -->
    <div class="row mb-4">
      <!-- Submit button -->
      <button type="button" class="btn btn-primary btn-block mb-4" (click)="AddSubscription()">Добавить</button>
    </div>

  </form>
</section>
</div>
</section>